@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>We want your trash.</h3>

<p>We've been collecting garbage on demand since 2018.</p>
<p>Contact us today so we can start ridding you of your garbage.</p>
