@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3></h3>

<address>
    313 N Plankinton Ave Suite #209<br />
    Milwaukee, WI 53203<br />
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>