@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        /*background-image: url("/Pictures/trash-cans.jpg");*/
       
    }
    .custom-text {
        background-color: rebeccapurple;
        color: white;
        padding: 5px 5px 5px 5px;
        font-size: 50px;
    }
</style>
<body>
    <div class="col-md-6">
        <row class="row align-items-start"><span class="custom-text">Milwaukee, Wisconsin</span></row>
        <row class="row align-items-center"><span class="custom-text">We want your trash!</span></row>
        <row class="row align-items-end"><span class="custom-text">Register today to be garbage-less tomorrow</span></row>
    </div>
    <div class="col-md-6">
        <img src="/Pictures/wisconsin-outline.png" />
    </div>
    
    
</body>

