@model TrashCollectorProject.Models.CustomerPickupViewModel
@{
    ViewBag.Title = "Charges";
}

<h2>View Charges</h2>

<div>
    <h4>This month - current balance</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.CustomerPickup)
        {@Html.HiddenFor(ModelItem => item.Pickup.Date)
            
            if (item.Pickup.Date.Month == DateTime.Now.Month)
            {
            <dt>
                @Html.DisplayFor(ModelItem => item.Pickup.Date)
            </dt>

            <dd>
               $@Html.DisplayFor(ModelItem => item.Pickup.Price)
               
            </dd>
            }
        }
        <dt>
            Balance as of today:
        </dt>
        <dd>
            $@Html.DisplayFor(model => model.CurrentMonthCharges)
        </dd>
    </dl>
    <h4>Previous outstanding charges</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.CustomerPickup)
        {@Html.HiddenFor(ModelItem => item.Pickup.Date)

        if (item.Pickup.Date.Month != DateTime.Now.Month)
        {
            <dt>
                @Html.DisplayFor(ModelItem => item.Pickup.Date)
            </dt>

            <dd>
                $@Html.DisplayFor(ModelItem => item.Pickup.Price)

            </dd>
        }
    }
        <dt>
            Total currently owed (not including this month):
        </dt>
        <dd>
            $@Html.DisplayFor(model => model.OutstandingBalance)
        </dd>
    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to Main Page", "Index", "Customer", new { id = Model.CustomerId },null)
</p>

